* {
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	color: #CC0000;
	font-weight: bolder;
	text-align: center;
	margin: 0 auto;
}

span {
	border: 1px solid white;
	margin-top: 55px;
	border-radius: 35px 25px 35px 25px;
	display: inline-block;
}